<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skmns.infra.auth">
    <select id="selectAuthList" resultType="com.skmns.infra.vo.AuthVO" >
        select 
                t1.emp_id
            ,   t1.emp_name
            ,   t1.emp_age
            ,   t1.emp_tel
            ,   t1.emp_json
        from tl_auth t1
    </select>
</mapper> 